@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
.logo {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.logo a {
  text-decoration: none;
  color: rgb(251, 248, 248);
  transition: 0.5s ease-in-out;
}
.logo:hover {
  font-size: 28px;
}
nav {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
nav ul li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(247, 246, 246);
  transition: 0.5s ease-in-out;
}
nav ul li a:hover {
  font-size: 18px;
}
/* //body section */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry {
  display: flex;
  width: 80vw;
}
.left {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.left ul {
  display: flex;
  flex-direction: column;
  justify-content: space space-evenly;
}
.left ul li {
  border: 2px solid black;
  border-radius: 15px;
  width: 20vw;
  height: 3vh;
  padding: 15px;
  list-style-type: none;
  margin: 10px;
  transition: 0.5s ease-in-out;
}
.left ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: sans-serif;
}
.left ul li:hover {
  background-color: yellowgreen;
  color: white;
}
.right {
  height: 40vh;
  width: 40vw;
}
.right img {
  height: 100%;
  width:100%;
}