@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  /* background-color: #294d4a; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.logo a {
  text-decoration: none;
  color: rgb(251, 248, 248);
  transition: 0.5s ease-in-out;
}
.logo:hover {
  font-size: 28px;
}
nav {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
nav ul li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(247, 246, 246);
  transition: 0.5s ease-in-out;
}
nav ul li a:hover {
  font-size: 18px;
}
/* assignments part  */
.declare {
  display: flex;
  justify-content: space-evenly;
}
.declare h1 {
  font-size: 30px;
  font-weight: 900;
  color: #242325;
  margin-bottom: 20px;
}
.contents {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.assignment1 {
  width: 30vw;
  background-color: rgb(172, 175, 182, 0.3);
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 20vh;
}
.assignment1 h2 {
  width: 30vw;
  height: 30px;
  overflow: hidden;
}
.assignment1 button {
  width: 4vw;
  height: 4vh;
  text-align: center;
}
/* media querry for the blocks */
@media (max-width: 1100px) {
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
  }
  .declare {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  }